@font-face {
  font-family: 'Kalam';
  src: url('../FONT/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'Kalam', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../IMG/Fundo_historia1.jpg');
  background-size: cover;

}


fieldset {
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: hwb(0 9% 91% / 0.523);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
}


#history {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: hwb(0 9% 91% / 0.523);
  padding: 20px;
  border-radius: 8px;
  display: none;
  position: absolute;
  top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  color: #fff;
  max-height: 80vh;
  overflow: scroll;
  text-align: center;
}

#final {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: hwb(0 9% 91% / 0.523);
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  color: #fff;
  max-height: 80vh;
  overflow: scroll;


}

#final img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#final::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

#final::-webkit-scrollbar-thumb {
  background-color: #bb281eec;
  border-radius: 5px;
}

#final::-webkit-scrollbar-thumb:hover {
  background-color: #e11f11ec;
}


.fade-in {
  display: block;
  margin: 0 auto;
  max-height: 50vh;

}

.reset_img {
  display: block;
  margin: 0 auto;
  max-height: 50px;
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  animation: fade-in 7s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}





.hidden {
  display: none;
}

.hidden2 {
  display: none;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

/*Barra de rolaegem*/

#history::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

#history::-webkit-scrollbar-thumb {
  background-color: #bb281eec;
  border-radius: 5px;
}

#history::-webkit-scrollbar-corner {
  background-color: transparent;
}


/*Bloquear seleção de texto*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

