@import url('https://fonts.google.com/specimen/Comfortaa');

*{
font-family: 'Comfortaa', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* definir altura total da página para que o conteúdo seja centralizado verticalmente */
  }

fieldset {
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: hwb(0 47% 53% / 0.523);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


#history {
  display:none;
}